<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>

<body>

<%= render 'form', employee: @employee %>

<div class="Container">
<button type="button" class="btn btn-default"><%= link_to 'Show', @employee %></button> |
<button type="button" class="btn btn-default"><%= link_to 'Back', employees_path %></button>
</div>
</body>